.new {
  display: flex;
  // width: 70%;
  flex-wrap: wrap;
  height: auto;
}

._img {
  position: relative;

}

._img img {
  position: absolute;
  width: 100%;
  height: 150%;
  // top: 0;
  // left: 0;
  object-fit: cover;
}

.product_img {
  width: 50px;
  // margin-top: 15px;
}

.catalog__column {
  display: flex;
  padding: 0 20px;
  //   flex: 0 1 100%;

  margin: 0px 0px 30px 0px;
}

.item_catalog {
  background-color: #FFFFFF;
  display: flex;
  // flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
}


// @media (max-width: 1040px) {
//   .catalog__column {
//       flex: 0 1 50%;
//   }
// }

// @media (max-width: 630px) {
//   .catalog__column {
//       flex: 0 1 100%;
//   }
// }


.item_catalog_content {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 0px 0px 0px 30px;
  //   display: flex;
  //   flex-direction: column;
  flex: 0 1 30%;
  //   margin-top: 40%;
}



.item_catalog__title {

  color: #252B42;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24/16*100%);
  letter-spacing: 0.1px;
  //   text-align: center;
}

.item_catalog__image {
  // display: block;
  padding: 0 0 70% 0;
  // margin: 0 auto;
}

.item_action {
  display: flex;
  flex: 0 1 57%;
  justify-content: space-between;
  // padding-left: 60px;
}

.item_info {
  display: flex;
  justify-content: center;
  align-items: center;
  //   flex-direction: column;
}

.item_price {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal {
  text-align: center;
  // position: relative;
  width: 150px;
  height: 110px;
  margin-left: 20px;
  background: #5ca6ec;
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  transition: background 0.5s ease-in;
}
.display{
  display: block;
}

.body_modal {}

.btn_correct {
  height: 20px;
  margin: auto 0;
}

.btn_remove {
  color: red;
  height: 20px;
  margin: auto 0;
}

.hide {
  display: none;
}


.active {
  border: 2px solid #5ca6ec;
  border-radius: 5px;
  transition: 0.2s ease-in;
  box-shadow: 10px 5px 5px #5ca6ec;
}

.active2 {
  border: 2px solid #5ca6ec;
}

.border {
  padding: 25px;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}