
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    // border: 0;
    // box-sizing: border-box;
}

.App {
  // max-width: 1200px;
    // margin: 0px auto;
    padding: 15px;
    // box-sizing: content-box;
}


.title{
  display: flex;
  justify-content: center;
  align-items:center;
  color: teal;
  font-size: 40px;
  margin-bottom: 20px;
}





.active {
  border: 2px solid #5ca6ec ;
  border-radius: 5px;
  transition: 0.2s ease-in;
  box-shadow: 10px 5px 5px #5ca6ec;
}

.active2 {
  border: 2px solid #5ca6ec;
}

.border{
  // display: flex;
  padding: 25px;
  height: 100%;
}

